## 0.An end to end Scikit-Learn Workflow

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
heart_disease=pd.read_csv("heart-disease.csv")
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
# Create X (Feature matrix)
X=heart_disease.drop('target',axis=1)

# create Y(Labels)
Y=heart_disease['target']

In [5]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=100)

# We'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [6]:
# 3.Fit the model to the training data
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [8]:
clf.fit(X_train,Y_train);

In [9]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
76,51,1,2,125,245,1,0,166,0,2.4,1,0,2
248,54,1,1,192,283,0,0,195,0,0.0,2,1,3
231,57,1,0,165,289,1,0,124,0,1.0,1,3,3
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
43,53,0,0,130,264,0,0,143,0,0.4,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,56,1,0,130,283,1,0,103,1,1.6,0,0,3
261,52,1,0,112,230,0,1,160,0,0.0,2,1,2
192,54,1,0,120,188,0,1,113,0,1.4,1,1,3
119,46,0,0,138,243,0,0,152,1,0.0,1,0,2
190,51,0,0,130,305,0,1,142,1,1.2,1,0,3

In [10]:
# make a prediction
Y_pred=clf.predict(X_test)
Y_pred

array([1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0], dtype=int64)

In [12]:
Y_test

130    1
297    0
211    0
201    0
81     1
      ..
234    0
18     1
218    0
156    1
247    0
Name: target, Length: 61, dtype: int64

In [13]:
# 4. Evaluate the model on the training and test data
clf.score(X_test,Y_test)

0.8524590163934426

In [14]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
classification_report(Y_test,Y_pred)

'              precision    recall  f1-score   support\n\n           0       0.82      0.85      0.84        27\n           1       0.88      0.85      0.87        34\n\n    accuracy                           0.85        61\n   macro avg       0.85      0.85      0.85        61\nweighted avg       0.85      0.85      0.85        61\n'

In [15]:
confusion_matrix(Y_test,Y_pred)

array([[23,  4],
       [ 5, 29]], dtype=int64)

In [16]:
accuracy_score(Y_test,Y_pred)

0.8524590163934426

In [18]:
# 5.Improve a model
# Try different amount of n_estimators
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimators...")
    clf=RandomForestClassifier(n_estimators=i).fit(X_train,Y_train)
    print(f"Model accuracy on test set: {clf.score(X_test,Y_test) * 100}%\n")

Trying model with 10 estimators...
Model accuracy on test set: 78.68852459016394%

Trying model with 20 estimators...
Model accuracy on test set: 86.88524590163934%

Trying model with 30 estimators...
Model accuracy on test set: 85.24590163934425%

Trying model with 40 estimators...
Model accuracy on test set: 83.60655737704919%

Trying model with 50 estimators...
Model accuracy on test set: 81.9672131147541%

Trying model with 60 estimators...
Model accuracy on test set: 81.9672131147541%

Trying model with 70 estimators...
Model accuracy on test set: 81.9672131147541%

Trying model with 80 estimators...
Model accuracy on test set: 81.9672131147541%

Trying model with 90 estimators...
Model accuracy on test set: 80.32786885245902%

In [19]:
# 6.Save a model and load it
import pickle
pickle.dump(clf,open("rand_forest_model_1.pkl","wb"))

In [21]:
loaded_model=pickle.load(open("rand_forest_model_1.pkl","rb"))
loaded_model.score(X_test,Y_test)

0.8032786885245902