## 0.An end to end Scikit-Learn Workflow

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
heart_disease=pd.read_csv("heart-disease.csv")
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

#### 1.Getting our data ready to be used with machine learning

Three main things we have to do
* Split the data into features and labels (Usually 'X' & 'Y')
* Filling( also called imputing) or disregarding missing values
* Converting non-numerical values to numerical values(also called feature encoding)

In [3]:
# Create X (Feature matrix)
X=heart_disease.drop('target',axis=1)

# create Y(Labels)
Y=heart_disease['target']

In [4]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=100)

# We'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [5]:
# 3.Fit the model to the training data
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [6]:
X_train.shape,X_test.shape,Y_train.shape,Y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [19]:
X.shape[0]*0.8

242.4

In [20]:
242+61

303

In [7]:
clf.fit(X_train,Y_train);

In [8]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
125,34,0,1,118,210,0,1,192,0,0.7,2,0,2
156,47,1,2,130,253,0,1,179,0,0.0,2,0,2
37,54,1,2,150,232,0,0,165,0,1.6,2,0,3
70,54,1,2,120,258,0,0,147,0,0.4,1,0,3
83,52,1,3,152,298,1,1,178,0,1.2,1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,58,1,0,114,318,0,2,140,0,4.4,0,3,1
191,58,1,0,128,216,0,0,131,1,2.2,1,3,3
140,51,0,2,120,295,0,0,157,0,0.6,2,0,2
274,47,1,0,110,275,0,0,118,1,1.0,1,1,2
15,50,0,2,120,219,0,1,158,0,1.6,1,0,2

In [9]:
# make a prediction
Y_pred=clf.predict(X_test)
Y_pred

array([1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1], dtype=int64)

In [10]:
Y_test

7      1
92     1
79     1
237    0
150    1
      ..
213    0
268    0
116    1
49     1
128    1
Name: target, Length: 61, dtype: int64

In [11]:
# 4. Evaluate the model on the training and test data
clf.score(X_test,Y_test)

0.819672131147541

In [12]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
classification_report(Y_test,Y_pred)

'              precision    recall  f1-score   support\n\n           0       0.83      0.73      0.78        26\n           1       0.82      0.89      0.85        35\n\n    accuracy                           0.82        61\n   macro avg       0.82      0.81      0.81        61\nweighted avg       0.82      0.82      0.82        61\n'

In [13]:
confusion_matrix(Y_test,Y_pred)

array([[19,  7],
       [ 4, 31]], dtype=int64)

In [14]:
accuracy_score(Y_test,Y_pred)

0.819672131147541

In [15]:
# 5.Improve a model
# Try different amount of n_estimators
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimators...")
    clf=RandomForestClassifier(n_estimators=i).fit(X_train,Y_train)
    print(f"Model accuracy on test set: {clf.score(X_test,Y_test) * 100}%\n")

Trying model with 10 estimators...
Model accuracy on test set: 73.77049180327869%

Trying model with 20 estimators...
Model accuracy on test set: 81.9672131147541%

Trying model with 30 estimators...
Model accuracy on test set: 78.68852459016394%

Trying model with 40 estimators...
Model accuracy on test set: 81.9672131147541%

Trying model with 50 estimators...
Model accuracy on test set: 78.68852459016394%

Trying model with 60 estimators...
Model accuracy on test set: 83.60655737704919%

Trying model with 70 estimators...
Model accuracy on test set: 80.32786885245902%

Trying model with 80 estimators...
Model accuracy on test set: 81.9672131147541%

Trying model with 90 estimators...
Model accuracy on test set: 83.60655737704919%

In [16]:
# 6.Save a model and load it
import pickle
pickle.dump(clf,open("rand_forest_model_1.pkl","wb"))

In [17]:
loaded_model=pickle.load(open("rand_forest_model_1.pkl","rb"))
loaded_model.score(X_test,Y_test)

0.8360655737704918