## 0.An end to end Scikit-Learn Workflow

In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
heart_disease=pd.read_csv("heart-disease.csv")
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

#### 1.Getting our data ready to be used with machine learning

Three main things we have to do
* Split the data into features and labels (Usually 'X' & 'Y')
* Filling( also called imputing) or disregarding missing values
* Converting non-numerical values to numerical values(also called feature encoding)

In [6]:
# Create X (Feature matrix)
X=heart_disease.drop('target',axis=1)

# create Y(Labels)
Y=heart_disease['target']

* For Structured data use the `RandomForestClassifier` for better result
* For Unstructured data use `deep learning or trasfer learning`

In [34]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=100)

# We'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [8]:
# 3.Fit the model to the training data
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [9]:
X_train.shape,X_test.shape,Y_train.shape,Y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [10]:
X.shape[0]*0.8

242.4

In [11]:
242+61

303

In [12]:
clf.fit(X_train,Y_train);

In [13]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3
97,52,1,0,108,233,1,1,147,0,0.1,2,3,3
121,59,1,0,138,271,0,0,182,0,0.0,2,0,2
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
118,46,0,1,105,204,0,1,172,0,0.0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,50,1,0,150,243,0,0,128,0,2.6,1,0,3
23,61,1,2,150,243,1,1,137,1,1.0,1,0,2
175,40,1,0,110,167,0,0,114,1,2.0,1,0,3
48,53,0,2,128,216,0,0,115,0,0.0,2,0,0
281,52,1,0,128,204,1,1,156,1,1.0,1,0,0

In [14]:
# make a prediction
Y_pred=clf.predict(X_test)
Y_pred

array([0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1], dtype=int64)

In [15]:
Y_test

292    0
289    0
207    0
176    0
56     1
      ..
165    0
44     1
21     1
37     1
278    0
Name: target, Length: 61, dtype: int64

In [16]:
# 4. Evaluate the model on the training and test data
clf.score(X_test,Y_test)

0.7868852459016393

In [17]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
classification_report(Y_test,Y_pred)

'              precision    recall  f1-score   support\n\n           0       0.83      0.68      0.75        28\n           1       0.76      0.88      0.82        33\n\n    accuracy                           0.79        61\n   macro avg       0.79      0.78      0.78        61\nweighted avg       0.79      0.79      0.78        61\n'

In [18]:
confusion_matrix(Y_test,Y_pred)

array([[19,  9],
       [ 4, 29]], dtype=int64)

In [19]:
accuracy_score(Y_test,Y_pred)

0.7868852459016393

In [20]:
# 5.Improve a model
# Try different amount of n_estimators
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimators...")
    clf=RandomForestClassifier(n_estimators=i).fit(X_train,Y_train)
    print(f"Model accuracy on test set: {clf.score(X_test,Y_test) * 100}%\n")

Trying model with 10 estimators...
Model accuracy on test set: 77.04918032786885%

Trying model with 20 estimators...
Model accuracy on test set: 83.60655737704919%

Trying model with 30 estimators...
Model accuracy on test set: 80.32786885245902%

Trying model with 40 estimators...
Model accuracy on test set: 78.68852459016394%

Trying model with 50 estimators...
Model accuracy on test set: 80.32786885245902%

Trying model with 60 estimators...
Model accuracy on test set: 78.68852459016394%

Trying model with 70 estimators...
Model accuracy on test set: 77.04918032786885%

Trying model with 80 estimators...
Model accuracy on test set: 77.04918032786885%

Trying model with 90 estimators...
Model accuracy on test set: 80.32786885245902%

In [21]:
# 6.Save a model and load it
import pickle
pickle.dump(clf,open("rand_forest_model_1.pkl","wb"))

In [22]:
loaded_model=pickle.load(open("rand_forest_model_1.pkl","rb"))
loaded_model.score(X_test,Y_test)

0.8032786885245902

### Let's choose another model for classification

In [26]:
from sklearn.svm import LinearSVC
np.random.seed(42)
svc=LinearSVC(max_iter=10000)
svc.fit(X_train,Y_train)

C:\Users\User\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=10000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [28]:
svc.score(X_test,Y_test)

0.6065573770491803

In [30]:
clf.score(X_test,Y_test) # RandomForest

0.8032786885245902

In [32]:
# Another way of predictions by Comparing to truth labels to-
#evaluate a model
y_preds=svc.predict(X_test)
np.mean(y_preds==Y_test)

0.6065573770491803