In [1]:
import numpy as np
import pandas as pd

In [2]:
dic={'A':[1,2,np.nan],'B':[np.nan,5,np.nan],'C':[4,7,9]}
df=pd.DataFrame(dic)
df

     A    B  C
0  1.0  NaN  4
1  2.0  5.0  7
2  NaN  NaN  9

In [3]:
df.dropna()

     A    B  C
1  2.0  5.0  7

In [5]:
df['A'].dropna()

0    1.0
1    2.0
Name: A, dtype: float64

In [6]:
df.dropna(axis=1)

   C
0  4
1  7
2  9

In [8]:
df.dropna(thresh=2) #thresh = least no of non Nan values

     A    B  C
0  1.0  NaN  4
1  2.0  5.0  7

In [10]:
df.fillna(value='Fill the value')

                A               B  C
0               1  Fill the value  4
1               2               5  7
2  Fill the value  Fill the value  9

In [11]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64